<!-- ======= Contact Section ======= -->
<section id="contact" class="contact margin">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Let’s talk business.</h2>
      <p>
        We’re here to help you with your digital transformation journey. Contact
        us now, and an expert will get back to you ASAP to discuss your specific
        needs.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>Location:</h4>
            <p>K.R Plaza(Level-11), 31 Purana Paltan, Dhaka-1000</p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone">
            <i class="icofont-phone"></i>
            <h4>Call:</h4>
            <p>+1 5589 55488 55s</p>
          </div>
          <div class="mapouter">
            <div class="gmap_canvas">
              <iframe
                width="100%"
                height="290px"
                id="gmap_canvas"
                src="https://maps.google.com/maps?q=31%20Purana%20Paltan,%20KR%20Plaza,%20Dhaka&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
              ></iframe>
            </div>
          </div>

          <!-- <iframe
            src="https://www.google.com/maps/place/9+Trade+International/@23.7317822,90.411726,3a,75y,345.5h,90t/data=!3m7!1e1!3m5!1s0r0PSFVH3J_tSoGovLnVvg!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3D0r0PSFVH3J_tSoGovLnVvg%26cb_client%3Dsearch.gws-prod.gps%26w%3D86%26h%3D86%26yaw%3D345.49866%26pitch%3D0%26thumbfov%3D100!7i13312!8i6656!4m9!1m2!2m1!1sK.R+Plaza(Level-11)!3m5!1s0x3755b97000180b83:0xbad35cbabcb5a47d!8m2!3d23.7318257!4d90.4116699!15sChNLLlIgUGxhemEoTGV2ZWwtMTEpkgEQZ3JhcGhpY19kZXNpZ25lcg"
            frameborder="0"
            style="border: 0; width: 100%; height: 290px"
            allowfullscreen
          ></iframe> -->
          <!-- src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" -->
        </div>
      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form
          [formGroup]="contactForm"
          autocomplete="off"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>

              <input
                type="text"
                class="form-control"
                formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && c.name.errors }"
              />
              <div *ngIf="submitted && c.name?.errors" class="invalid-feedback">
                <div *ngIf="c.name.errors?.required">Name is Required!!</div>
                <div *ngIf="c.name.errors?.minlength">
                  Name must be at least 4 characters long.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && c.email?.errors }"
              />
              <div
                *ngIf="submitted && c.email?.errors"
                class="invalid-feedback"
              >
                <div *ngIf="c.email.errors?.required">Email is Required!!</div>
              </div>
              <div class="invalid-feedback" *ngIf="c.email.errors?.email">
                Enter correct Email!
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input
              type="text"
              class="form-control"
              formControlName="subject"
              [ngClass]="{ 'is-invalid': submitted && c.subject.errors }"
            />
            <div
              *ngIf="submitted && c.subject?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.subject.errors?.required">
                Subject is Required!!
              </div>
              <div *ngIf="c.subject.errors?.minlength">
                Subject must be at least 4 characters long.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea
              type="text"
              class="form-control"
              formControlName="message"
              rows="10"
              [ngClass]="{ 'is-invalid': submitted && c.message.errors }"
            ></textarea>
            <div
              *ngIf="submitted && c.message?.errors"
              class="invalid-feedback"
            >
              <div *ngIf="c.message.errors?.required">
                Message is Required!!
              </div>
            </div>
          </div>
          <!-- <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div> -->
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
