<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Our Works</h2>
      Featuring some of the products we built for our clients in different
      verticals, such as e-learning, real estate, ecommerce, etc. All these
      products have one thing in common – they are all massively scalable,
      multi-tenant, SaaS platforms crafted with passion and precision.
    </div>

    <ul
      id="portfolio-flters"
      class="d-flex justify-content-center"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <li data-filter="*" class="filter-active">All</li>
      <li data-filter=".filter-app">App</li>
      <li data-filter=".filter-card">Card</li>
      <li data-filter=".filter-web">Web</li>
    </ul>

    <div
      class="row portfolio-container"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-1.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>App 1</h4>
          <p>App</p>
          <a
            href="assets/img/portfolio/portfolio-1.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="App 1"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-2.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>Web 3</h4>
          <p>Web</p>
          <a
            href="assets/img/portfolio/portfolio-2.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="Web 3"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-3.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>App 2</h4>
          <p>App</p>
          <a
            href="assets/img/portfolio/portfolio-3.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="App 2"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-4.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>Card 2</h4>
          <p>Card</p>
          <a
            href="assets/img/portfolio/portfolio-4.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="Card 2"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-5.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>Web 2</h4>
          <p>Web</p>
          <a
            href="assets/img/portfolio/portfolio-5.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="Web 2"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-6.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>App 3</h4>
          <p>App</p>
          <a
            href="assets/img/portfolio/portfolio-6.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="App 3"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-7.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>Card 1</h4>
          <p>Card</p>
          <a
            href="assets/img/portfolio/portfolio-7.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="Card 1"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-8.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>Card 3</h4>
          <p>Card</p>
          <a
            href="assets/img/portfolio/portfolio-8.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="Card 3"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-img">
          <img
            src="assets/img/portfolio/portfolio-9.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="portfolio-info">
          <h4>Web 3</h4>
          <p>Web</p>
          <a
            href="assets/img/portfolio/portfolio-9.jpg"
            data-gall="portfolioGallery"
            class="venobox preview-link"
            title="Web 3"
            ><i class="bx bx-plus"></i
          ></a>
          <a
            href="portfolio-details.html"
            class="details-link"
            title="More Details"
            ><i class="bx bx-link"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
