<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container margin" data-aos="zoom-in">
    <div class="row">
      <div class="col-lg-9 text-center text-lg-left">
        <h3>Call To Action</h3>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </p>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="#">Call To Action</a>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Section -->
