<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          INFONET is a premier provider of software development and testing
          services. Having talented software engineers on board, we craft
          compelling web, desktop, and mobile applications for our clients.
        </p>
        <!-- <ul>
          <li>
            <i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip
            ex ea commodo consequat
          </li>
          <li>
            <i class="ri-check-double-line"></i> Duis aute irure dolor in
            reprehenderit in voluptate velit
          </li>
          <li>
            <i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip
            ex ea commodo consequat
          </li>
        </ul> -->
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Since our inception, we have partnered with numerous companies and
          delivered operational gains to startup, emerging, and established
          organizations in Bangladesh.
        </p>
        <a [routerLink]="['/about']" class="btn-learn-more">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
