<app-hero-banner [banner]="hero"></app-hero-banner>
<section id="career" class="career section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>JOIN US</h2>
      <p>
        At Infonet, we foster and inspire innovative ideas to support growth and
        value addition. We are passionate about the work we do. Following a
        transparent system and keeping the communication channels open, we
        commute ideas and suggestions within the team. We invest in our people
        and offer them numerous learning and development opportunities. Join us
        to be a part of a visionary team.
      </p>
    </div>
    <div class="container" data-aos="fade-up">
      <h2 class="section-title">CURRENT OPENINGS</h2>
      <p>No Jobs</p>
    </div>
  </div>
</section>
