<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Team</h2>
      <p>
        We are an outstanding team of tech wizards and business analysts who
        love to do two things: solve problems and help people!
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="pic">
            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Md Mahmudul Hasan</h4>
            <span>Team Lead</span>
            <p>
              Expertise in Microsoft .Net Techologies, Azure, DevOps, Database
              Design
            </p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <div class="pic">
            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Md Malek Sarker</h4>
            <span>Software Engineer</span>
            <p>
              Expertise in Microsoft .Net Technologies, Sql Server, Angular,
              React.
            </p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="300"
        >
          <div class="pic">
            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Rajesh Roy</h4>
            <span>Junior Software Engineer</span>
            <p>
              Expertise in Microsoft .Net Technologies, Sql Server, Angular.
            </p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div
          class="member d-flex align-items-start"
          data-aos="zoom-in"
          data-aos-delay="400"
        >
          <div class="pic">
            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Fahemm</h4>
            <span>Junior Software Engineer</span>
            <p>Expertise in Microsoft .Net Technologies, Sql Server, Angular</p>
            <div class="social">
              <a href=""><i class="ri-twitter-fill"></i></a>
              <a href=""><i class="ri-facebook-fill"></i></a>
              <a href=""><i class="ri-instagram-fill"></i></a>
              <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->
