<!-- ======= Footer ======= -->
<footer id="footer" class="margin">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
          <form
            [formGroup]="contactForm"
            autocomplete="off"
            (ngSubmit)="onSubmit()"
          >
            <input
              type="text"
              class="form-control"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && c.email?.errors }"
            />
            <!-- <div class="invalid-feedback" *ngIf="c.email.errors?.email">
              Enter correct Email!
            </div> -->
            <input type="submit" value="Subscribe" />
          </form>
          <div *ngIf="submitted && c.email?.errors" class="invalid-feedback">
            <div *ngIf="c.email.errors?.required">Email is Required!!</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Infonet Associates</h3>
          <p>
            K.R Plaza(Level-11) <br />
            31 Purana Paltan, Dhaka-1000<br />
            Bangladesh <br /><br />
            <strong>Phone:</strong> +1 5589 55488 55<br />
            <strong>Email:</strong> info@infonetassociates.com<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/service']">Home</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/about']">About us</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/service']">Services</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/career']">Career</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/contact']">Contact Us</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/service']">Web Design</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/service']">Web Development</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/service']">Product Management</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/service']">Marketing</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a [routerLink]="['/service']">Graphic Design</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>

          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Infonet Associates Ltd.</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by
      <a href="https://infonetassociates.com/">Infonet Associates Ltd.</a>
    </div>
  </div>
</footer>
<!-- End Footer -->
