<app-hero></app-hero>
<app-client></app-client>
<app-about></app-about>
<!-- <app-why-us></app-why-us> -->
<!-- <app-skills></app-skills> -->
<app-services></app-services>
<!-- <app-cta></app-cta> -->
<app-portfolio></app-portfolio>
<app-team></app-team>
<!-- <app-pricing></app-pricing> -->
<!-- <app-faq></app-faq> -->
<app-contact></app-contact>
