/*--------------------------------------------------------------
# Cliens
--------------------------------------------------------------*/
.cliens {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.cliens img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.cliens img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cliens img {
    max-width: 40%;
  }
}
