/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */
  display: none;
  /* opacity: 0; */
}
.jw-modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;

  /* z-index must be higher than .jw-modal-background */
  z-index: 1000000 !important;

  /* enables scrolling for tall modals */

  height: calc(100vh - 110px);
  transition: animateModal 1s;
}
.jw-modal-body {
  height: 100%;
  overflow: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  /* margin exposes part of the modal background */
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
}
.jw-modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .jw-modal and above everything else  */
  z-index: 900;
}
.cubtn {
  position: fixed;
  top: 35px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

@keyframes animateModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
