<app-navigation></app-navigation>
<!-- <app-hero></app-hero> -->
<main id="main">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>
