.title {
  color: #111;
  font-weight: 700;
  line-height: 1.5rem;
  opacity: 1 !important;
}
.sub-title {
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5rem;
}
.margin-top {
  margin-top: 70px;
  height: 60vh;
  /* background: #37517e; */
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.99;
}
