<div
  class="hero-banner"
  [ngStyle]="{ background: 'url(' + banner.imageUrl + ')', opacity: 0.5 }"
>
  <div class="container-fluid margin-top" style="opacity: 1 !important">
    <h1 class="title" style="text-transform: uppercase">{{ banner.title }}</h1>
    <h2 class="sub-title" *ngIf="banner.subTitle">{{ banner.subTitle }}</h2>
  </div>
</div>
