<app-hero-banner [banner]="hero"></app-hero-banner>
<div class="container-fluid">
  <div class="row" style="background-color: #f8f8f8">
    <div
      class="
        offset-md-2 offset-sm-2 offset-lg-2
        col-md-8 col-lg-8 col-sm-8
        text-center
        tbmargin
      "
    >
      <div class="row">
        <div class="col-md-5">
          <div
            class="elementor-heading-title text-right"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            <span class="redSpan">WHO</span>
            <br />We <br />
            Are
          </div>
        </div>
        <div class="col-md-1 colWidth">
          <div class="verticalLine"></div>
        </div>
        <div class="col-md-6 text-left" data-aos="zoom-in" data-aos-delay="200">
          <div class="mt-5 ml-5">
            <p style="text-align: justify">
              INFONET is a premier provider of software development and testing
              services. Having talented software engineers on board, we craft
              compelling web, desktop, and mobile applications for our clients.
            </p>

            <p style="text-align: justify">
              Since our inception, we have partnered with numerous companies and
              delivered operational gains to startup, emerging, and established
              organizations in Bangladesh.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      class="
        offset-md-2 offset-lg-2 offset-sm-2
        col-md-8 col-lg-8 col-sm-8
        text-center
        tbmargin
      "
    >
      <h4>
        <span
          class="elementor-icon-box-title"
          data-aos="zoom-in"
          data-aos-delay="150"
          >BENEFITS OF WORKING WITH INFONET</span
        >
      </h4>
      <div class="row">
        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="card w-55 border-0">
            <div class="card-body text-left">
              <div class="elementor-icon text-center">
                <div style="width: 50px; height: 50px">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    id="Capa_1"
                    x="0px"
                    y="0px"
                    viewBox="0 0 512.001 512.001"
                    style="enable-background: new 0 0 512.001 512.001"
                    xml:space="preserve"
                  >
                    <g>
                      <g>
                        <path
                          d="M268.662,243.351c-3.91-3.91-10.24-3.91-14.15,0c-3.9,3.9-3.9,10.23,0,14.14c3.91,3.9,10.24,3.9,14.15,0    C272.562,253.581,272.562,247.251,268.662,243.351z"
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M395.933,116.07c-19.54-19.539-51.172-19.54-70.713,0c-19.489,19.489-19.49,51.209,0.003,70.714    c19.496,19.484,51.216,19.492,70.71-0.002C415.471,167.244,415.475,135.611,395.933,116.07z M381.791,172.639    c-11.693,11.694-30.727,11.694-42.426,0.002c-11.695-11.702-11.696-30.736-0.002-42.429c11.723-11.723,30.703-11.725,42.428,0    C393.514,141.934,393.516,160.915,381.791,172.639z"
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M509.07,2.929c-1.964-1.963-4.644-3.027-7.43-2.922c-2.261,0.081-56.096,2.245-120.091,24.864    c-51.28,18.106-94.023,44.029-127.042,77.049c-7.399,7.399-14.599,15.245-21.488,23.396c-32.648-19.218-58.81-13.192-75.349-4.341    c-38.081,20.38-61.652,75.716-61.652,115.296c0.003,4.044,2.44,7.691,6.176,9.238c1.237,0.513,2.537,0.762,3.825,0.762    c2.603,0,5.16-1.017,7.073-2.929c20.083-20.083,44.854-18.827,52.946-17.763l3.502,3.502c-6.892,16.4-12.444,32.708-16.516,48.569    c-1.47,5.74-0.974,11.814,1.211,17.37c-9.628,4.437-18.917,10.952-27.005,19.04c-25.741,25.742-30.968,88.476-31.178,91.134    c-0.23,2.917,0.828,5.789,2.897,7.858c1.883,1.882,4.43,2.929,7.07,2.929c0.262,0,0.525-0.01,0.788-0.031    c2.658-0.209,65.394-5.436,91.135-31.177c8.085-8.085,14.599-17.373,19.036-26.999c5.882,2.313,11.936,2.598,17.38,1.203    c15.854-4.071,32.16-9.621,48.562-16.514l3.502,3.502c1.063,8.093,2.319,32.864-17.763,52.945    c-2.859,2.86-3.715,7.161-2.167,10.897c1.547,3.737,5.193,6.173,9.238,6.173c39.58,0,94.915-23.571,115.295-61.652    c8.851-16.537,14.877-42.699-4.341-75.348c8.147-6.886,15.994-14.086,23.396-21.488c33.02-33.02,58.942-75.763,77.048-127.039    c22.62-63.998,24.783-117.834,24.864-120.094C512.092,7.584,511.033,4.893,509.07,2.929z M118.376,214.762    c6.212-30.063,24.255-63.052,48.735-76.154c16.359-8.754,34.24-7.896,53.252,2.511c-16.197,21.302-30.278,44.252-42.015,68.487    c-0.149-0.092-1.949-2.355-5.293-3.109C171.68,206.186,145.221,200.495,118.376,214.762z M183.8,370.63    c-13.75,13.75-46.005,21.002-66.392,23.963c2.962-20.388,10.215-52.642,23.964-66.391c7.7-7.7,16.628-13.538,25.602-16.826    l33.652,33.652C197.338,354.002,191.501,362.93,183.8,370.63z M229.39,339.603c-2.894,0.741-6.246-0.347-8.738-2.835    c-12.937-12.937-17.998-17.998-19.586-19.585c-2.912-2.912-10.053-10.053-25.826-25.827c-2.494-2.499-3.582-5.85-2.843-8.739    c3.203-12.474,7.392-25.272,12.486-38.193l82.695,82.695C254.655,332.214,241.859,336.402,229.39,339.603z M373.394,344.891    c-13.102,24.479-46.09,42.523-76.152,48.734c9.585-18.037,11.698-40.998,8.196-54.921c-0.813-3.234-2.923-4.86-3.041-5.051    c24.233-11.737,47.182-25.818,68.486-42.015C381.29,310.652,382.147,328.535,373.394,344.891z M395.94,243.35    c-9.011,9.01-18.714,17.715-28.84,25.872c-24.342,19.6-51.134,36.202-79.718,49.418l-94.02-94.018    c13.216-28.586,29.818-55.378,49.416-79.717c8.164-10.133,16.868-19.837,25.875-28.843    c29.625-29.626,67.859-53.204,113.671-70.176l83.792,83.792C449.146,175.489,425.568,213.723,395.94,243.35z M473.311,108.587    l-69.896-69.896c38.081-11.828,71.21-16.257,87.746-17.849C489.568,37.381,485.138,70.51,473.311,108.587z"
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M240.371,413.049c-3.907-3.905-10.239-3.903-14.143,0.002l-28.28,28.29c-3.904,3.906-3.903,10.238,0.002,14.142    c3.907,3.904,10.239,3.904,14.143-0.002l28.28-28.29C244.277,423.285,244.276,416.953,240.371,413.049z"
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M98.954,271.631c-3.904-3.906-10.235-3.906-14.142-0.002l-28.29,28.28c-3.906,3.904-3.907,10.236-0.003,14.142    c3.903,3.904,10.234,3.908,14.142,0.002l28.29-28.28C102.857,281.869,102.858,275.537,98.954,271.631z"
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M169.663,427.2c-3.903-3.905-10.236-3.905-14.142-0.001l-67.74,67.73c-3.906,3.905-3.906,10.237-0.001,14.142    c3.903,3.905,10.236,3.907,14.142,0.001l67.74-67.73C173.568,437.437,173.568,431.105,169.663,427.2z"
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M89.663,427.2c-3.904-3.905-10.237-3.905-14.142-0.001l-67.74,67.73c-3.906,3.905-3.906,10.237-0.001,14.142    c3.903,3.905,10.236,3.907,14.142,0.001l67.74-67.73C93.568,437.437,93.568,431.105,89.663,427.2z"
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M84.802,342.338c-3.904-3.904-10.237-3.904-14.142,0.001l-67.73,67.74c-3.905,3.906-3.905,10.237,0.001,14.143    c3.905,3.905,10.237,3.905,14.142-0.001l67.73-67.74C88.708,352.575,88.708,346.244,84.802,342.338z"
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d="M311.083,200.919c-3.906-3.905-10.236-3.905-14.143,0l-14.14,14.14c-3.905,3.905-3.905,10.237,0,14.143    c3.906,3.905,10.237,3.905,14.143,0l14.14-14.14C314.988,211.157,314.988,204.825,311.083,200.919z"
                        ></path>
                      </g>
                    </g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                    <g></g>
                  </svg>
                </div>
              </div>
              <h4 class="card-heading-title mt-2">Kick Start</h4>
              <p class="card-text">
                Our teams can be ramped up quickly and managed autonomously to
                implement and execute agreed plans.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="card w-55 border-0">
            <div class="card-body text-left">
              <div class="elementor-icon1">
                <div class="svg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    id="Layer_5"
                    height="90"
                    width="90"
                  >
                    <g>
                      <path
                        d="m52 33.256v-2.563l.862-.323c4.27-1.601 7.138-5.74 7.138-10.3v-5.07c1.103 0 2-.897 2-2v-2c0-1.103-.897-2-2-2h-.059c-.5-4.493-4.317-8-8.941-8h-8c-4.624 0-8.442 3.507-8.941 8h-.059c-1.103 0-2 .897-2 2v2c0 1.103.897 2 2 2h2v1.697l-1.487 2.229c-.336.505-.513 1.092-.513 1.697 0 1.23.684 2.336 1.785 2.888l.215.107v2.382c0 2.757 2.243 5 5 5h3v2.124l-1.178.157c-5.679.758-10.447 4.459-12.613 9.719h-5.209v-13h6v-8h-14v3h-2v-3h-6v-6h6v-10h-14v10h6v6h-6v8h14v-3h2v3h6v13h-4v-8h-5c-2.757 0-5 2.243-5 5v18c0 2.757 2.243 5 5 5h29v-4h9.402c5.844 0 10.598-4.755 10.598-10.599 0-6.905-4.486-13.025-11-15.145zm-49-25.256h10v6h-10zm10 20h-10v-4h10zm6-4h10v4h-10zm39-3.93c0 3.73-2.347 7.117-5.84 8.427l-.16.06v-2.057l2.267-1.7c1.085-.815 1.733-2.111 1.733-3.467 0-2.277-1.766-4.149-4-4.32v-2.013h6zm-15-17.07h8c3.519 0 6.432 2.614 6.92 6h-21.84c.488-3.386 3.401-6 6.92-6zm-9 8h26v2h-26zm7 18c-1.654 0-3-1.346-3-3v-3.618l-1.32-.66c-.42-.21-.68-.631-.68-1.099 0-.21.062-.413.177-.587l1.823-2.733v-2.303h12v4h1.667c1.286 0 2.333 1.047 2.333 2.333 0 .73-.349 1.429-.934 1.867l-3.066 2.3v8.5c0 1.103-.897 2-2 2s-2-.897-2-2v-5zm-27 8h3v6h-3c-1.654 0-3-1.346-3-3s1.346-3 3-3zm27 24h-27c-1.654 0-3-1.346-3-3v-14.026c.838.635 1.87 1.026 3 1.026h27v4c-2.206 0-4 1.794-4 4v2c0 2.206 1.794 4 4 4zm4-4h-4c-1.103 0-2-.897-2-2v-2c0-1.103.897-2 2-2h1.757c.534 0 1.036.208 1.415.586l.828.828zm7.402 0h-5.402v-4h3.879c1.634 0 3.171-.637 4.328-1.793 1.156-1.155 1.793-2.692 1.793-4.328v-2.879h-2v2.879c0 1.102-.429 2.136-1.207 2.914-.768.767-1.83 1.207-2.914 1.207h-4.465l-.828-.828c-.698-.698-1.61-1.089-2.586-1.148v-6.024h-10.602c2.026-4.193 6.001-7.111 10.689-7.736l1.092-.145c.487 1.659 2.006 2.881 3.821 2.881 1.751 0 3.226-1.138 3.767-2.707 5.486 1.966 9.233 7.209 9.233 13.108 0 4.742-3.857 8.599-8.598 8.599z"
                      ></path>
                      <path d="m5 10h6v2h-6z"></path>
                      <path d="m49 42h4v2h-4z"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <h5 class="card-heading-title mt-2">Top Quality Engineers</h5>
              <p class="card-text">
                Our hiring process is constantly active to ensure your access to
                the best IT professionals in the market.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="card w-55 border-0">
            <div class="card-body text-left">
              <div class="elementor-icon1">
                <div class="svg">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    id="Layer_1_1_"
                    height="100"
                    width="100"
                  >
                    <path d="m24 6h16v2h-16z"></path>
                    <path d="m24 10h16v2h-16z"></path>
                    <path d="m24 14h16v2h-16z"></path>
                    <path d="m27 27h14v2h-14z"></path>
                    <path d="m25 31h14v2h-14z"></path>
                    <path d="m23 35h14v2h-14z"></path>
                    <path d="m24 48h16v2h-16z"></path>
                    <path d="m24 52h16v2h-16z"></path>
                    <path d="m24 56h16v2h-16z"></path>
                    <path
                      d="m13.5 54h6.5v7c0 .55225.44727 1 1 1h22c.55273 0 1-.44775 1-1v-7h2.06946c.49463 3.93994 3.85876 7 7.93054 7 4.41113 0 8-3.58887 8-8s-3.58887-8-8-8c-4.07178 0-7.43591 3.06006-7.93054 7h-2.06946v-7c0-.55225-.44727-1-1-1h-22c-.55273 0-1 .44775-1 1v7h-6.5c-2.53125 0-4.91504-.98975-6.71289-2.78711-1.79688-1.79687-2.78711-4.18115-2.78711-6.71289 0-5.23828 4.26172-9.5 9.5-9.5h6.05682l-2.49335 6.64893c-.11523.30713-.07227.65088.11426.9209.1875.26953.49415.43017.82227.43017h22c.41699 0 .79004-.25879.93652-.64893l2.75666-7.35107h6.80682c3.06543 0 5.95117-1.19775 8.12695-3.37305 2.17481-2.17431 3.37305-5.06054 3.37305-8.12695 0-6.34131-5.15918-11.5-11.5-11.5h-6.5v-7c0-.55225-.44727-1-1-1h-22c-.55273 0-1 .44775-1 1v16c0 .55225.44727 1 1 1h22c.55273 0 1-.44775 1-1v-7h6.5c5.23828 0 9.5 4.26172 9.5 9.5 0 2.53174-.99023 4.91602-2.78711 6.71289-1.79785 1.79736-4.18164 2.78711-6.71289 2.78711h-6.05682l2.49335-6.64893c.11523-.30713.07227-.65088-.11426-.9209-.1875-.26953-.49415-.43017-.82227-.43017h-22c-.41699 0-.79004.25879-.93652.64893l-2.75666 7.35107h-6.80682c-6.34082 0-11.5 5.15869-11.5 11.5 0 3.06641 1.19824 5.95264 3.37305 8.12695 2.17578 2.1753 5.06152 3.37305 8.12695 3.37305zm40.5-7c3.30859 0 6 2.69141 6 6s-2.69141 6-6 6-6-2.69141-6-6 2.69141-6 6-6zm-32-1h20v14h-20zm20-28h-20v-14h20zm-17.30664 7h19.86328l-5.25 14h-19.86328z"
                    ></path>
                    <path
                      d="m53 56c.25586 0 .51172-.09766.70703-.29297l4-4-1.41406-1.41406-3.29297 3.29297-1.29297-1.29297-1.41406 1.41406 2 2c.19531.19531.45117.29297.70703.29297z"
                    ></path>
                  </svg>
                </div>
              </div>
              <h4 class="card-heading-title mt-2">End to End Management</h4>
              <p class="card-text">
                We are responsible for your project completion and team
                management from start to end, guaranteeing quality product
                output.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="card w-55 border-0">
            <div class="card-body text-left">
              <div class="elementor-icon1">
                <div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="80"
                    viewBox="0 0 150 168"
                  >
                    <g>
                      <path
                        d="m69.313445,81.692996l-7.553408,-5.972131a2.770005,2.770005 0 1 0 -3.434806,4.346534l0.286498,0.226349a17.337066,17.337067 0 0 1 -7.050059,-28.795391a2.770005,2.770005 0 0 0 -3.917579,-3.915996a22.858082,22.858083 0 0 0 12.406457,38.71201l-1.728483,1.366008a2.770005,2.770005 0 1 0 3.434806,4.346534l7.556574,-5.972131a2.770005,2.770005 0 0 0 0,-4.346534l0,0.004749z"
                      ></path>
                      <path
                        d="m63.817755,26.489167a37.328589,37.32859 0 1 0 37.328589,37.32859a37.369743,37.369744 0 0 0 -37.328589,-37.32859zm0,69.11717a31.788579,31.78858 0 1 1 31.788579,-31.78858a31.823402,31.823403 0 0 1 -31.788579,31.78858z"
                      ></path>
                      <path
                        d="m124.865502,52.699747l-10.978717,0a50.573962,50.573963 0 0 0 -6.806298,-16.420591l7.767094,-7.75918a2.768422,2.768422 0 0 0 0,-3.917579l-11.808136,-11.806554a2.770005,2.770005 0 0 0 -3.915996,0l-7.763929,7.757597a50.551802,50.551803 0 0 0 -16.42059,-6.806298l0,-10.977135a2.768422,2.768422 0 0 0 -2.770005,-2.770005l-16.699174,0a2.768422,2.768422 0 0 0 -2.770005,2.770005l0,10.978718a50.551802,50.551803 0 0 0 -16.42059,6.806298l-7.75918,-7.767095a2.770005,2.770005 0 0 0 -3.915996,0l-11.808136,11.806554a2.768422,2.768422 0 0 0 0,3.917579l7.757597,7.763929a50.573962,50.573963 0 0 0 -6.806298,16.420591l-10.977135,0a2.768422,2.768422 0 0 0 -2.770005,2.770005l0,16.699174a2.768422,2.768422 0 0 0 2.770005,2.770005l10.978717,0a50.573962,50.573963 0 0 0 6.806298,16.420591l-7.765511,7.767095a2.768422,2.768422 0 0 0 0,3.917579l11.808136,11.806554a2.770005,2.770005 0 0 0 3.915996,0l7.762346,-7.765512a50.551802,50.551803 0 0 0 16.42059,6.806298l0,10.978718a2.768422,2.768422 0 0 0 2.770005,2.770005l16.699174,0a2.768422,2.768422 0 0 0 2.770005,-2.770005l0,-10.980301a50.551802,50.551803 0 0 0 16.42059,-6.806298l7.767094,7.765512a2.770005,2.770005 0 0 0 3.915996,0l11.808136,-11.806554a2.768422,2.768422 0 0 0 0,-3.917579l-7.765511,-7.762346a50.573962,50.573963 0 0 0 6.806298,-16.420591l10.978717,0a2.768422,2.768422 0 0 0 2.770005,-2.770005l0,-16.699174a2.768422,2.768422 0 0 0 -2.771588,-2.770005zm-2.770005,16.696008l-10.488031,0a2.770005,2.770005 0 0 0 -2.728851,2.298313a45.157415,45.157416 0 0 1 -7.630968,18.416577a2.770005,2.770005 0 0 0 0.307075,3.553521l7.417282,7.417282l-7.890557,7.890558l-7.418865,-7.417282a2.771588,2.771588 0 0 0 -3.553521,-0.307075a45.182741,45.182742 0 0 1 -18.414994,7.632551a2.770005,2.770005 0 0 0 -2.298313,2.728851l0,10.486448l-11.155998,0l0,-10.486448a2.770005,2.770005 0 0 0 -2.298313,-2.728851a45.182741,45.182742 0 0 1 -18.414994,-7.632551a2.771588,2.771588 0 0 0 -3.553521,0.307075l-7.418865,7.417282l-7.890557,-7.890558l7.417282,-7.417282a2.770005,2.770005 0 0 0 0.307075,-3.553521a45.157415,45.157416 0 0 1 -7.630968,-18.416577a2.770005,2.770005 0 0 0 -2.728851,-2.298313l-10.488031,0l0,-11.155998l10.488031,0a2.770005,2.770005 0 0 0 2.728851,-2.298313a45.157415,45.157416 0 0 1 7.630968,-18.416577a2.770005,2.770005 0 0 0 -0.307075,-3.553521l-7.417282,-7.417282l7.890557,-7.890558l7.418865,7.417282a2.768422,2.768422 0 0 0 3.553521,0.307075a45.182741,45.182742 0 0 1 18.414994,-7.632551a2.770005,2.770005 0 0 0 2.298313,-2.728851l0,-10.486448l11.155998,0l0,10.486448a2.770005,2.770005 0 0 0 2.298313,2.728851a45.182741,45.182742 0 0 1 18.414994,7.632551a2.768422,2.768422 0 0 0 3.553521,-0.307075l7.418865,-7.417282l7.890557,7.890558l-7.417282,7.417282a2.770005,2.770005 0 0 0 -0.307075,3.553521a45.157415,45.157416 0 0 1 7.630968,18.416577a2.770005,2.770005 0 0 0 2.728851,2.298313l10.488031,0l0,11.155998z"
                      ></path>
                      <path
                        d="m67.584962,41.277829l1.728483,-1.366008a2.770005,2.770005 0 1 0 -3.434806,-4.346534l-7.556574,5.972131a2.770005,2.770005 0 0 0 0,4.346534l7.553408,5.972131a2.770005,2.770005 0 1 0 3.434806,-4.346534l-0.286498,-0.226349a17.335483,17.335484 0 0 1 7.050059,28.793808a2.770005,2.770005 0 0 0 3.920744,3.917579a22.858082,22.858083 0 0 0 -12.409623,-38.716758z"
                      ></path>
                    </g>
                  </svg>
                </div>
              </div>
              <h5 class="card-heading-title mt-2">Operational Efficiency</h5>
              <p class="card-text">
                Our cost effective services help reduce your costs to remain
                competitive without compromising quality.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
