.elementor-heading-title {
    color: #292929;
    font-family: "Open Sans", Sans-serif;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-heading-title {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.redSpan {
    color: #ea2a35;
}

.verticalLine {
    margin-top: 80px;
    border-left: 2px solid #ea2a35;
    height: 100px;
}

.colWidth {
    padding-right: 1px !important;
    padding-left: 1px !important;
    max-width: 0.333333% !important;
}

.tbmargin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.elementor-column-wrap {
    width: 100%;
}

.elementor-icon-box-title {
    color: #393939;
    font-family: "Open Sans", Sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1em;
}

.elementor-icon {
    color: #E92C33;
    border-color: #E92C33;
    border: 3px solid #ea2a35;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-left: 19px;
    padding-right: 0px;
    padding-top: 23px;
    padding-bottom: 0px;
}

.elementor-icon1 {
    color: #E92C33;
    border-color: #E92C33;
    border: 3px solid #ea2a35;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-left: 14px;
    padding-right: 0px;
    padding-top: 18px;
    padding-bottom: 0px;
}


.elementor-icon svg {
    fill: #E92C33;
}

.elementor-icon1 svg {
    fill: #E92C33;
}

.svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}

.card-heading-title {
    color: #E92C33;
    font-family: "Open Sans", Sans-serif;
    font-weight: 700;
}