<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>
        We build software development teams that grow with our clients, from the
        early stages to whatever they aspire to be. Our expertise includes
        front-end, backend, database, and server solutions for mobile, web, and
        desktop applications. Our purpose is to provide our clients with expert
        guidance and to build software vital to their organizations.
      </p>
    </div>

    <!-- <div class="row">
      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a href="">Lorem Ipsum</a></h4>
          <p>
            Voluptatum deleniti atque corrupti quos dolores et quas molestias
            excepturi
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="">Sed ut perspici</a></h4>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="">Magni Dolores</a></h4>
          <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia
          </p>
        </div>
      </div>

      <div
        class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="">Nemo Enim</a></h4>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis
          </p>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-6">
        <img
          src="../../../assets/img/hero-img.png"
          alt=""
          style="width: 100%; height: 300px"
          class="img-fluid animated"
        />
      </div>
      <div class="col-md-6">
        <h2>Custom Software Development</h2>
        <p>
          Infonet helps you create diverse and complex software solutions for
          your business needs. Listening to your ideas, we implement and create
          custom software solutions from scratch, designed especially for your
          business. With Enosis, you get quality software and perfect service
          every time.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <h2>Web Application Development</h2>
        <p>
          Enosis looks beyond conventional solutions to develop disruptive web
          products. Our skilled and dedicated web development team understands
          your needs and leverage the dynamism of modern web frameworks to
          create business valued web applications.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/img/hero-img.png"
          alt=""
          style="width: 100%; height: 300px"
          class="img-fluid animated"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img
          src="../../../assets/img/hero-img.png"
          alt=""
          style="width: 100%; height: 300px"
          class="img-fluid animated"
        />
      </div>
      <div class="col-md-6">
        <h2>Mobile Application Development</h2>
        <p>
          Along with native app development services, Enosis also has vast
          experience in cross-platform app development. Our mobile app
          development experts follow best practices to ensure reliability and
          great user experience.

          <br />As a custom mobile app development company, we are committed to
          helping startups and established businesses in streamlining their
          development process.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Quality Assurance & Testing</h2>
        <p>
          Treading on Agile development methodologies and Rational Unified
          Process practices in testing, Enosis ensures highest quality of
          software solutions to you. Our software testing strategy ensures every
          component of your software are free of bugs and issues.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="../../../assets/img/hero-img.png"
          alt=""
          style="width: 100%; height: 300px"
          class="img-fluid animated"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
