<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <!-- <h1 class="logo mr-auto"><a href="index.html">Arsha</a></h1> -->
    <!-- Uncomment below if you prefer to use an image logo -->
    <h1 class="logo mr-auto">
      <a href="/" class="logo mr-auto"
        ><img src="../../../assets/img/logo.png" alt="" class="img-fluid"
      /></a>
    </h1>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['']">Home</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/about']">About</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/service']">Services</a>
        </li>
        <!-- <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a href="#portfolio">Portfolio</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a href="#team">Team</a>
        </li>
        <li class="drop-down">
          <a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="drop-down">
              <a href="#">Deep Drop Down</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li> -->
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/contact']">Contact Us</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/career']">Career</a>
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->

    <a [routerLink]="['/contact']" class="get-started-btn scrollto"
      >Get Started</a
    >
    <ng-container *ngIf="isToggleIcon">
      <div
        class="mobile-toggle d-block d-lg-none d-xl-none"
        [ngClass]="{
          showToggleIcon: !isToggleIcon,
          hideToggleIcon: !isToggleIcon
        }"
      >
        <button
          class="mobileNav_Toggle"
          (click)="openModal('mobileNav__modal')"
        >
          <i class="icofont-navigation-menu"></i>
        </button>
      </div>
    </ng-container>
  </div>
</header>
<!-- End Header -->
<jw-modal id="mobileNav__modal">
  <nav class="mobile-nav d-lg-none" data-aos="fade-up">
    <ul>
      <li
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeModal('mobileNav__modal')"
      >
        <a [routerLink]="['']">Home</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/about']" (click)="closeModal('mobileNav__modal')"
          >About</a
        >
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/service']" (click)="closeModal('mobileNav__modal')"
          >Services</a
        >
      </li>
      <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a href="#portfolio" (click)="closeModal('mobileNav__modal')"
          >Portfolio</a
        >
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a href="#team" (click)="closeModal('mobileNav__modal')">Team</a>
      </li> -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/contact']">Contact</a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a [routerLink]="['/career']">Career</a>
      </li>
      <!-- <li class="drop-down">
        <a href="">Drop Down</a>
        <ul>
          <li><a href="#">Drop Down 1</a></li>
          <li class="drop-down">
            <a href="#">Deep Drop Down</a>
            <ul>
              <li><a href="#">Deep Drop Down 1</a></li>
              <li><a href="#">Deep Drop Down 2</a></li>
              <li><a href="#">Deep Drop Down 3</a></li>
              <li><a href="#">Deep Drop Down 4</a></li>
              <li><a href="#">Deep Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#">Drop Down 2</a></li>
          <li><a href="#">Drop Down 3</a></li>
          <li><a href="#">Drop Down 4</a></li>
        </ul>
      </li> -->
    </ul>
  </nav>
  <button class="mobileNav_Toggle" (click)="closeModal('mobileNav__modal')">
    <i class="icofont-close"></i>
  </button>
</jw-modal>
